*.log
*.class

# Package Files #
*.jar
*.war
*.ear

# Scene builder backup files
*.bak

# windows thumbnail files
*.db

# Scenic view auxiliary file
scenicView.properties

# Intellij IDEA  files
.idea/
*.iml
out/

# Gradle
.gradle/
.nb-gradle/
build/


=======
# Scenic View auxiliary file
scenicView.properties

# libraries jars (e.g. ScenicView)
samples/lib/

=======

# Created by https://www.gitignore.io/api/eclipse

### Eclipse ###

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Locally stored "Eclipse launch configurations"
*.launch

# Java annotation processor (APT)
.factorypath

### Eclipse Patch ###
# Eclipse Core
.project

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Annotation Processing
.apt_generated

.sts4-cache/


# End of https://www.gitignore.io/api/eclipse

