#TestAppToolbar > * > .label {
 -fx-font-size: 10px;
}
#SamplePageToolBar {
    -fx-base: #666;
    -fx-background: #444;
}
#SamplePageScrollPane {
    -fx-background-insets: 0,0;
    -fx-padding: 0;
}
.section-label {
    -fx-font-weight: normal;
    -fx-text-fill: derive(-fx-text-background-color,30%);
}
.section-border {
    -fx-border-color: ladder(
        -fx-background,
        derive(-fx-background,10%) 20%,
        derive(-fx-background,-10%)  21%
     );
    -fx-padding: 20;
}